*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

p {
  font-family: "Montserrat", sans-serif;
}

.main_page {
  width: 100vw;
  height: 100vh;
  background-color: hsl(30deg, 38%, 92%);
}

@media screen and (min-width: 200px) and (max-width: 575px) {
  .main_page--content {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 90%;
    height: 90%;
    background-color: blue;
    border-radius: 10px;
    overflow: hidden;
  }
  .card_wrapper {
    width: 100%;
    height: 100%;
    background-color: palevioletred;
    border-radius: 10px;
  }
  .card_img--container {
    background-color: paleturquoise;
    width: 100%;
    height: 43%;
    overflow: hidden;
  }
  .img_wrapper {
    width: 100%;
    height: 100%;
  }
  .img_wrapper #card_img {
    width: 100%;
    margin: -38% 0% 0% 0%;
  }
  .card_info {
    padding: 5% 8%;
    width: 100%;
    height: 60%;
    background-color: white;
  }
  .card_info h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 0.5em;
    font-weight: lighter;
    letter-spacing: 10px;
    padding: 2% 0;
  }
  .card_info #card_title {
    font-size: 2em;
    font-family: "Fraunces", serif;
    padding: 2% 0;
  }
  .card_info p {
    width: 100%;
    line-height: 25px;
    font-size: 0.62em;
    padding: 1% 0;
  }
  .card_info #card_prices {
    display: flex;
    padding: 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card_info #card_prices #new_price {
    font-family: "Fraunces", serif;
    font-size: 2em;
    color: hsl(158deg, 36%, 37%);
  }
  .card_info #card_prices #old_price {
    text-decoration: line-through;
  }
  .card_info #buy_btn {
    align-items: center;
    background-color: hsl(158deg, 36%, 37%);
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    min-height: 15%;
    justify-content: center;
    width: 98%;
    font-size: 1em;
  }
  .card_info #buy_btn p {
    margin: 0;
    width: 40%;
    font-size: 1em;
  }
}
@media screen and (min-width: 576px) {
  .main_page--content {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    max-width: 50%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  .card_wrapper {
    max-width: 100%;
    display: flex;
  }
  .card_img--container {
    max-width: 50%;
    background-color: burlywood;
    border-radius: 10px 0px 0px 10px;
  }
  .img_wrapper {
    width: 100%;
    height: 100%;
  }
  .img_wrapper #card_img {
    width: 100%;
    min-height: 100%;
  }
  .card_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-height: 100%;
    padding: 2% 5%;
  }
  .card_info #card_title {
    font-family: "Fraunces", serif;
    font-size: 2.7em;
    max-width: 90%;
  }
  .card_info h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    padding: 8% 0;
    letter-spacing: 9px;
  }
  .card_info #card_description {
    min-width: 80%;
    max-width: 100%;
    min-height: 20%;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
    padding: 5% 0;
    line-height: 150%;
    margin: 1% 0;
  }
  .card_info #card_prices {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 10% 0;
  }
  .card_info #card_prices #new_price {
    color: hsl(158deg, 36%, 37%);
    font-family: "Fraunces", serif;
    font-size: 2.5em;
    padding: 2% 8% 0% 0%;
  }
  .card_info #card_prices #old_price {
    text-decoration: line-through;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    padding: 2% 8% 0% 0%;
  }
  .card_info #buy_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 5px;
    min-height: 10%;
    max-width: 95%;
    background-color: hsl(158deg, 36%, 37%);
    margin: 2% 0;
  }
  .card_info #buy_btn p {
    font-size: 1.2em;
    padding-left: 5%;
  }
  .card_info #buy_btn:hover {
    cursor: pointer;
    background-color: hsl(158deg, 37%, 24%);
  }
}

/*# sourceMappingURL=styles.css.map */
